@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


html{
    font-size: 62.5;
    box-sizing: border-box;
}

body, #root{
    height: 100vh;
    /* margin: 0; */
}

body, input, select, textarea{
    font-family: Montserrat, Helvetica, Arial sans-serif;
}
.grid-container{
    display: grid;
    grid-template-areas: "header"
    "main" "footer";
    grid-template-rows: 5rem 1fr 5rem;
    grid-template-columns: 1fr;
}
header{
    grid-area: header;
    background-color: rgb(25, 27, 26);
    color: #ffffff;
    display: flex;
    align-items: center;
    padding: 0.5rem;
}
 
/* fix position*/
/* header h1{
    display: flex;
    justify-items: start;
} */
main{
    grid-area: main;
    width: 90%;
    margin: auto; 
}
footer{
    background-color: rgb(25, 27, 26);
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    font-size: 1.4rem;
    cursor: pointer;
    height: 5rem;
} 
 
@media screen and (max-width: 780px) {
    .navbar{
      font-size: 0.5rem;
      display: flex;
      justify-content: space-around;
    }
}

a{
    text-decoration: none;
    color: rgb(24, 22, 22);
    cursor: pointer;
}
a:hover{
    color: rgba(233, 15, 117, 0.747);
}
.parent-container{
    display: inline-flex;
    /* justify-content: space-around; */
}

.products{
    padding: 0;
    margin: 0;
    list-style: none;
} 
.products li{
    flex: 1 1 29rem;
    padding: 1rem;
    margin: 1rem;
}
.product{
    width: 20rem;
    height: 25rem;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 10rem;
    border-radius: 4px;
    overflow: hidden;
    margin-bottom: 2rem;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    text-align: center;
    font-size: 1rem;
    line-height: 1.2rem;
}

/* Card styling for items */
.product::after{
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    content: "";
    border-radius: 5px;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
  .product:hover{
    -webkit-transform: scale(1.05, 1.05);
    transform: scale(1.05, 1.05);
    box-shadow: 20px 20px 50px 15px rgba(233, 15, 117, 0.747);
}
  .product:hover::after{
    opacity: 1;
}
  .product-body{
    padding: 2rem;
}
  li{
    list-style: none;
}
 .product img{
    width: 10rem;
    height: 10rem;
}
 .product-price{
    line-height: 3rem;
}
.product-price div,
.product-price button{
    text-align: center;
    flex: 1;
}
.product-price div{
    font-size: 1.5rem;
}
.button-primary{
    padding: 5px 20px;
    border-radius: 1rem;
    background-color: #ffc040;
    cursor: pointer;
    border: none;
    outline: none;
}

.home-container{
    width: 90%;
    height: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    "a a "
    "b b"
    "c c"
    "d d"
    "e e";
    gap: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.home-container img{
    max-width: 100%;
    min-height: 100%;
}
.home-container img:hover{
    opacity: 0.8;
}

/*fix position and space between item*/
 .filter{
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    margin: 1rem;
    font-size: 1rem;
    word-spacing: 0.2rem;
}

@media screen and (max-width: 780px) {
    .filter{
      font-size: 0.8rem;
      display: none;
    }
}
.filter select{
    text-decoration: none;
}
.info-parent{
    width: 80%;
    margin: auto;
}
.info-parent h1{
    text-align: center;
}
.info{
    display: flex;
    justify-content: space-evenly;
}
.info-img img{
    width: 20rem;
    height: 20rem;
}
 
@media screen and (max-width: 725px) {
    .info-img img{
      text-align: center;
      width: 12rem;
      height: 12rem; 
    }
}

.info-ul{
    align-self: center;
}
 
@media screen and (max-width: 725px) {
    .info{
      display: initial; 
      font-size: 0.8rem;
    }
}
.info-ul li{
    line-height: 2rem;
}
.info-ul button{
    padding: 15px 32px;
    border-radius: 1rem;
    background-color: #ffc040;
    cursor: pointer;
    font-size: 1.6rem;
    border: none;
    outline: none;
}
.info-ul button:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5), 0 6px 20px 0 rgba(0,0,0,0.19); 
}
